/* Typography */
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
    text-align: center;
}
  
  label {
    font-weight: bold;
  }
  
  /* Form */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  textarea {
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3071a9;
  }
  
  /* Datepicker */
  .ui-datepicker {
    font-size: 0.8rem;
  }
  
/* General layout */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  
  
  /* Add offer page specific styles */
  .add-offer-form {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .add-offer-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-offer-form input[type="file"] {
    padding: 0;
  }
  
  .add-offer-form input[type="file"]::-webkit-file-upload-button {
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .add-offer-form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #3071a9;
  }
  