.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    position: relative;
    bottom: 0%;
    width: 100%;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  
  .footer-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .social-media ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .social-media li {
    list-style: none;
    margin-right: 20px;
  }
  
  .social-media li:last-child {
    margin-right: 0;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .social-media {
      margin-bottom: 20px;
    }
  }