html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}


/* cards */
.card {
    width: 500px;
    height: 450px;
    margin-right: 21.5%; /* Добавляем отступ слева */
    margin-top: 10%; /* Добавляем отступ слева */
    float:right;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    float: right; 
    position: relative;
    transition: all 0.3s ease; /* добавляем плавный переход */
}

button[name="ChooseBtn"] {
  width: auto;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
}


.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.btn2 {
    position: absolute;
    bottom: 0px; /* чтобы кнопка была в самом низу карточки*/
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #3e83c0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}


/* Общие стили для страницы */

  
  #overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
  }
  
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
  }
  
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  .form-container {
  height: 440px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn {
  position: relative;
  bottom: 5px; /* задаем отрицательное значение для свойства bottom, чтобы кнопка "View" изначально была за пределами карточки */
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #3e83c0;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-top:10%;
} 


.container2 {
  min-height: calc(75vh - 40px);
}



.container2 img {
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  width: 850px;
  max-height: 500px;
  height: auto;
  display: block;
}

.color-option {
  display: inline-block;
  margin-right: 10px; /* Добавьте отступ справа, чтобы элементы не налезали друг на друга */
}
