body{
    
    background-size: cover;
       
    height: 100vh;
    padding:0;
    margin:0;

}


.profile-info {
  font-size: 16px;
  margin-bottom: 20px;
}
.profile-info p {
  margin: 5px 0;
}

.btn {
  position: relative;
  margin-right: 3%;
  margin-top: -18%;
  float: right;
  background-color: #007bff !important;
  color: #fff !important;
  border: black !important;
  padding: 8px 20px !important;
  border-radius: 4px !important;
  cursor: pointer !important;  
}




@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
  
  table, th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  .tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab button:hover {
    background-color: #0062cc;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

  /* Стили для таблицы заказов */
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #c0fdff;
    font-size: 18px;
    font-weight: bold;
}
      

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }


  select {
    width: 150px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    }
    
    select option {
    background-color: #fff;
    color: #000;
    }
    
    select option:checked {
    background-color: #007bff;
    color: #fff;
    }
    
    select option:hover {
    background-color: #ccc;
    }
    
    select::-ms-expand {
    display: none;
    }

  
  
  